<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div>
            <table class="adressTable">
                <tr>
                    <td class="small">{{from.name}}, {{from.street}}, {{from.postcode}} {{from.city}}</td>
                </tr>
                <tr><td>{{to.name}}</td></tr>
                <tr><td>{{to.street}}</td></tr>
                <tr><td>{{to.postcode}} {{to.city}}</td></tr>
            </table>
        </div>

        <div class="section">
            <table class="infoTable">
                <tr>
                    <td><b>Invoice ID {{invoice.number}}</b></td>
                    <td>Customer ID: {{customer_number}}</td>
                </tr>
                <tr>
                    <td class="small">Invoice Date</td>
                    <td>Date of Invoice: {{invoice.date}}</td>
                </tr>
            </table>
        </div>

        <div class="section">
            <table class="invoiceTable">
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Description</td>
                        <td>Number</td>
                        <td>Unit Price</td>
                        <td>Tax</td>
                        <td>net</td>
                    </tr>
                </thead>
                <tbody>
                    {{#positions}}
                    <tr>
                        <td>{{pos_number}}</td>
                        <td>{{{text}}}</td>
                        <td>{{amount}}</td>
                        <td class="nowrap">{{net_price}} {{@root.currency}}</td>
                        <td class="nowrap">{{tax_rate}} %</td>
                        <td class="nowrap">{{total_net_price}} {{@root.currency}}</td>
                    </tr>
                    {{/positions}}
                    <tr class="tfoot">
                        <td class="padrow"></td>
                    </tr>
                    <tr class="tfoot">
                        <td class="noborder"></td>
                        <td class="noborder"></td>
                        <td colspan="3">Total Net</td>
                        <td class="nowrap" colspan="2">{{totals.net}} {{@root.currency}}</td>                    
                    </tr>
                    <tr class="tfoot">
                        <td class="noborder"></td>
                        <td class="noborder"></td>
                        <td colspan="3">Sales Tax</td>
                        <td class="nowrap" colspan="2">{{totals.tax}} {{@root.currency}}</td>                    
                    </tr>
                    <tr class="tfoot">
                        <td class="noborder"></td>
                        <td class="noborder"></td>
                        <td colspan="3">Total Final</td>
                        <td class="nowrap" colspan="2">{{totals.gross}} {{@root.currency}}</td>                    
                    </tr>                                
                </tbody>
            </table>
        </div>
        
        <div class="section">
            <p>Para 1</p>
            <p>Invoice Due {{invoice.pay_until_date}}.</p>
        </div>

    </body>
</html>